@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import "tailwindcss";

@theme {
  --color-lime: #273E06;
  --color-primary:#F9F6EE;

}

:root {
  --background: #e1dede;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  cursor:pointer;
  transition: transform 0.3s ease-in-out;
}
button:hover{
  /* transform: scale(1.2); */
  z-index: 1000;
}
input{
  outline: none;
  border:none;
}
input:focus{
  border:1px solid black;
}